In [1]:
%pwd

'/Users/eugenerabinovich/sp1'

In [2]:
%cd ~/examples/fibonacci/script

[Errno 2] No such file or directory: '/Users/eugenerabinovich/examples/fibonacci/script'
/Users/eugenerabinovich/sp1

/Users/eugenerabinovich/Library/Python/3.9/lib/python/site-packages/IPython/core/magics/osm.py:393: UserWarning: using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})

In [4]:
%pwd

'/Users/eugenerabinovich/sp1'

In [1]:
import pandas as pd
df = pd.read_csv("~/sp1/examples/fibonacci/script/perm_bench.csv")
df.shape

(1327280, 2)

In [2]:
df.head()

      Process          Time
0     RLC Gen  5.420000e-07
1  Denom Comp  1.900000e-05
2  Denom Comp  1.300000e-05
3  Denom Comp  1.000000e-05
4  Denom Comp  2.000000e-06

In [3]:
df.groupby('Process').sum()

                              Time
Process
Denom Comp            3.931075e+01
Main Perm Total       4.480311e+01
RLC Gen               2.736279e-02
Remainder Perm Total  3.740000e-07

In [4]:
df[df['Process']=='Main Perm Total']

                 Process      Time
7155     Main Perm Total  0.035386
7202     Main Perm Total  0.035299
28339    Main Perm Total  0.138038
53541    Main Perm Total  0.267695
71806    Main Perm Total  0.361303
1260030  Main Perm Total  6.266579
1261848  Main Perm Total  6.283256
1261849  Main Perm Total  6.283294
1261851  Main Perm Total  6.283346
1261852  Main Perm Total  6.282903
1261854  Main Perm Total  6.283402
1261855  Main Perm Total  6.282614